@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  font-size: 16px;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}
